.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7695EC;
    height: 45px;
    padding: 15px;
    font-size: 16px;
    color: #FFFFFF;
}

form{
   
    
    height: 40%;
    margin:40px;
    width: 80%;
    border: 1px solid #999999;
    border-radius: 8px;
    padding-bottom: 20px;
}

.title{
    width: 90%;
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
}

.content{
    width: 90%;
    margin: 5px;
    padding: 5px;
    border-radius:8px ;
}

button{
    width: 7rem;
    height: 25px;
    background: #7695EC;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 2px;
    margin-left: 32.5rem;
    
}
