.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #DDDDDD;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    
    
  }

.login__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    box-sizing: border-box;
    width: 30rem;
    height: 15rem;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
}

h1{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #000000
}

p{
    padding: 15px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    color: #000000;
}

.username{
    box-sizing: border-box;
    width: 25.5rem;
    height: 2rem;
    background: #FFFFFF;
    border: 1px solid #777777;
    border-radius: 8px;
    padding: 5px;
}

button{
    margin-top: 10px;
    color: #FFFFFF;
    width: 6rem;
    height: 2rem;
    background: #7695EC;
    border-radius: 8px;
    margin-left: 20rem;
    cursor: pointer;
    border: none;
}

button:disabled{
    background: #777777;
    cursor: no-drop;
  }

